<div class="example-container">
 <form>
    <mat-card>
        <mat-card-header>
            <mat-card-subtitle>Product Price Update</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="row">
                <div class="col-sm-6">
                    <mat-label>Country : {{productDto.countryCode}}</mat-label>
                </div>
                <div class="col-sm-6">
                    <mat-label>Store Id : {{productDto.sid}}</mat-label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-label>Product Name : {{productDto.prodName}}</mat-label>
                </div>
                <div class="col-sm-6">
                    <mat-label>SKU : {{productDto.sku}}</mat-label>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <mat-label>Price :</mat-label>
                    <input type="text" id="newval" name="newval"   [(ngModel)] = "newval" />
                </div>
                <div class="col-sm-6">
                    
                </div>
            </div>
        </mat-card-content>
        <mat-card-actions >
            <span>
                <button mat-raised-button color="primary" (click)="updatePrice()">Update</button>
            </span>
            <span>
                <button mat-button mat-dialog-close>Cancel</button>
            </span>
        </mat-card-actions>
    </mat-card>
 </form>
 </div>